<div class="m-2">
    <div class="bg-info text-white mb-2 p-2">Model Data: {{jsonProduct}}</div>
    <form novalidate (ngSubmit)="addProduct(newProduct)">
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" name="name" [(ngModel)]="newProduct.name" #name="ngModel" required minlength="5"
                pattern="^[A-Za-z ]+$" />
            <ul class="text-danger list-unstyled" *ngIf="name.dirty">
                <li *ngIf="name.errors?.required">
                    You must enter a product name
                </li>
                <li *ngIf="name.errors?.pattern">
                    Product names can only contain letters and spaces
                </li>
                <li *ngIf="name.errors?.minlength">
                    Product names must be at least
                    {{name.errors.minlength.requiredLength}} characters
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label>Category</label>
            <input class="form-control" [(ngModel)]="newProduct.category" />
        </div>
        <div class="form-group">
            <label>Price</label>
            <input class="form-control" [(ngModel)]="newProduct.price" />
        </div>
        <button class="btn btn-primary" type="submit">Create</button>
    </form>
</div>